button{
	width: 200px;
	height: 60px;
	font-size: 30px;
	border: 3px solid black;
	border-radius: 10px;
}

body{
	background-color: rgb(94, 94, 94);
	color: white;
}

main{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
	text-align: center;
    height: 300px;
    width: 300px;
    position: relative;
}

p{
	font-size: 30px;
}

